body{
    background-color: rgba(96, 43, 0, 0.535);
    color: rgb(246, 246, 246);
    font-family: "Noto Sans", sans-serif;
    padding: 0 50px;
}


header{
     background-color: rgb(88, 0, 90);
     padding: 40px;
}
p{
    font-size: 30px;
}
.links{
    color: rgb(249, 255, 255);
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(168, 8, 133);
    padding: 5px 25px;
    border-radius: 30px;
}
